body
{
    background-color: #121212;
    margin: 0;
    padding: 0;
}
header
{
    background-color: #1F1F24;
    border-bottom: 1.5em solid #33333A;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
}
section
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}
article
{
    background-color: #1F1F24;
    border-radius: 2.5em;
    width:25%;
}
article img
{
    width:80%;
    border-radius: 0em;
}
main img
{
    border-radius: 2.5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:99%;
}
header nav ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 0.5em;
}
header nav ul li a
{
    display: block;
    padding:2em;
    text-decoration: none;
}
a
{
    color:#EED911;
    font-size: 18px;
}
header nav ul li a:hover
{
    background-color: #33333A;
}
h1
{
    color:#E0E0E0;
    text-align: center;
    font-size: 4em;
}
h2
{
    color:#E0E0E0;
    text-align: center;
    font-size: 3em;
}
p
{
    color:#E0E0E0;
}
h3
{
    color:#E0E0E0;
    text-align: center;
    font-size: 2em;
}
main
{
    margin-top:8%;
}
button
{
    width: auto;
    background-color: #1F1F24;
    border-radius: 2.5em;
    padding: 2em;
    border: none;
    margin-top: 1%;
    margin-bottom: 1%;
}
button:hover
{
    background-color: #1F1F24;
    box-shadow: 0 0 0.35em 0.35em #EED911;
}
header nav ul li a img
{
    width:25%;
    border-radius: none;
}
.CTA
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5%;
    padding: 0.5%;
}
.Refuerzos
{
    display: flex;
    justify-content: center;
    gap: 5%;
    margin-top: 1%;
    text-align: center;
}
.Refuerzos article
{
    border-top: 0.8em solid #33333A;
    background-color: #1F1F24;
    padding: 2%;
    border-radius: 2.5em;
    width: 25%;
    height:20%;
    display: inline-block;
}
.Kitana
{
    border-top: 8px solid #4169E1;
}
.Havik
{
    border-top: 8px solid #BD144C;
}
.ErronBlack
{
    border-top: 8px solid #4A2C11;
}
.Personajes article:hover
{
    box-shadow: 0 0 0.35em 0.35em #EED911;
}
.Refuerzos article:hover
{
    background-color: #1F1F24;
    box-shadow: 0 0 0.35em 0.35em #EED911;
}
.Reseñas
{
    display: flex;
    justify-content: center;
    gap: 5%;
    margin-top: 1%;
}
.Reseñas article
{
    background-color: #1F1F24;
    padding: 2%;
    border-radius: 2.5em;
    display: inline-block;
    width: 35%;
}
.Positiva img
{
    width:40%;
}
.Negativa img
{
    width:40%;
}
.Positiva:hover
{
    box-shadow: 0 0 0.35em 0.35em #00ff15;
}
.Negativa:hover
{
    box-shadow: 0 0 0.35em 0.35em #F53929;
}
footer img
{
    width:10%;
    border-radius:10em;
}
footer
{
    background-color: #1F1F24;
    border-top: 1.5em solid #33333A;
    text-align: center;
    margin-top: 3%;
    width:100%;
}
.Redes
{
    width:50%;
    display: block;
    margin-left:auto;
    margin-right:auto;
}
